body {
    font-family: roboto, sans-serif;
    min-height: 100vh;
    margin: 0;

}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex: 1 0 auto;
}

header,
footer,
.hero {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.links {
    display: flex;
    gap: 24px;
}

.super-white {
    color: #f9faf8;
}

.just-white {
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    padding-bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    gap: 48px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    border-style: solid;
    color: #f9faf8;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 6px;
    margin: 16px 0;
}

.hero-button {
    border: none;
}

.cta-button {
    border-color: #f9faf8;
    border-width: 3px;
}

.hero-photo {
    height: 200px;
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    padding: 16px 0 72px;
    gap: 48px;

}

.card {
    box-sizing: border-box;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* word-wrap: wrap; */
}

.card-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.gray-zone {
    background-color: #e5e7eb;
    padding: 72px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 32px 8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    display: flex;
    padding: 0;
    margin: 0;
}

.quoter {
    font-weight: bold;
    align-self: flex-end;
    text-wrap: nowrap;
    padding: 0 32px;
    margin: 0;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    padding: 24px;
}

.max-width {
    max-width: 850px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.cta {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 10px;
    align-items: center;
    margin: 48px 0;
    padding: 16px 96px;
    /* gap: 48px; */
}

.big-bold {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

.small-white {
    margin-top: 0;
}

.hero .max-width {
    gap: 72px;
}